<footer class="site-footer">
  <div class="text-center">
    2019 &copy; Colab by F5 Networks Innovation.
    <a href="#" class="go-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</footer>