<app-header></app-header>
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <aside class="profile-nav col-lg-3">
                <section class="card">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="../../assets/flat/img/profile-avatar.jpg" alt="">
                        </a>
                        <h1>Jonathan Smith</h1>
                        <p>jsmith@flatlab.com</p>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active nav-item"><a class="nav-link" href="profile.html"> <i class="fa fa-user"></i>
                                Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="profile-activity.html"> <i
                                    class="fa fa-calendar"></i>
                                Recent Activity <span class="badge badge-danger pull-right r-activity">9</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="profile-edit.html"> <i class="fa fa-edit"></i>
                                Edit
                                profile</a></li>
                    </ul>
                </section>
            </aside>
            <aside class="profile-info col-lg-9">
                <section class="card">
                    <form>
                        <textarea placeholder="Whats in your mind today?" rows="2"
                            class="form-control input-lg p-text-area"></textarea>
                    </form>
                    <footer class="card-footer">
                        <button class="btn btn-danger float-right">Post</button>
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-map-marker"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class=" fa fa-film"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-microphone"></i></a>
                            </li>
                        </ul>
                    </footer>
                </section>
                <section class="card">
                    <div class="bio-graph-heading">
                        Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac
                        magna
                        metus.
                    </div>
                    <div class="card-body bio-graph-info">
                        <h1>Bio Graph</h1>
                        <div class="row">
                            <div class="bio-row">
                                <p><span>First Name </span>: Jonathan</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Last Name </span>: Smith</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Country </span>: Australia</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Birthday</span>: 13 July 1983</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Occupation </span>: UI Designer</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Email </span>: jsmith@flatlab.com</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Mobile </span>: (12) 03 4567890</p>
                            </div>
                            <div class="bio-row">
                                <p><span>Phone </span>: 88 (02) 123456</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100"
                                                height="100px"></canvas><input class="knob" data-width="100"
                                                data-height="100" data-displayprevious="true" data-thickness=".2"
                                                value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8"
                                                style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font: bold 20px Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none;">
                                        </div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="red">Envato Website</h4>
                                        <p>Started : 15 July</p>
                                        <p>Deadline : 15 August</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100"
                                                height="100px"></canvas><input class="knob" data-width="100"
                                                data-height="100" data-displayprevious="true" data-thickness=".2"
                                                value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8"
                                                style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font: bold 20px Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none;">
                                        </div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="terques">ThemeForest CMS </h4>
                                        <p>Started : 15 July</p>
                                        <p>Deadline : 15 August</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100"
                                                height="100px"></canvas><input class="knob" data-width="100"
                                                data-height="100" data-displayprevious="true" data-thickness=".2"
                                                value="75" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8"
                                                style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font: bold 20px Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none;">
                                        </div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="green">VectorLab Portfolio</h4>
                                        <p>Started : 15 July</p>
                                        <p>Deadline : 15 August</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="bio-chart">
                                        <div style="display:inline;width:100px;height:100px;"><canvas width="100"
                                                height="100px"></canvas><input class="knob" data-width="100"
                                                data-height="100" data-displayprevious="true" data-thickness=".2"
                                                value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8"
                                                style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background: none; font: bold 20px Arial; text-align: center; color: rgb(203, 164, 219); padding: 0px; -webkit-appearance: none;">
                                        </div>
                                    </div>
                                    <div class="bio-desk">
                                        <h4 class="purple">Adobe Muse Template</h4>
                                        <p>Started : 15 July</p>
                                        <p>Deadline : 15 August</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </section>
</section>