<section id="container">
  <!--header start-->
  <app-header></app-header>
  <!--header end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <!--mail inbox start-->
      <div class="mail-box">
        <aside class="sm-side">
          <div class="user-head">
            <a href="javascript:;" class="inbox-avatar">
              <img style="width: 62px;" src="../assets/flat/img/avatar1.png" alt="">
            </a>
            <div class="user-name">
              <h5><a href="#">Amit Gupta</a></h5>
              <span><a href="#">a.gupta@f5.com</a></span>
            </div>
            <a href="javascript:;" class="mail-dropdown float-right">
              <i class="fa fa-chevron-down"></i>
            </a>
          </div>
          <div class="inbox-body">
            <a class="btn btn-compose" data-toggle="modal" href="#myModal">
              CREATE POST
            </a>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" style="max-width: 750px;">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Ask Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" role="form">
                      <div class="form-group row">
                        <label class="col-lg-3 control-label">Title*</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="inputEmail1" placeholder="">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-3 control-label">Tag*</label>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" id="cc" placeholder="">
                          *Ex-HR,IT,Finance,General Query
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-3 control-label">Summarize your question*</label>
                        <div class="col-lg-9">
                          <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                      </div>

                      <div class="form-group row pull-right">
                        <div class="col-lg-offset-2 col-lg-10 pull-right">
                          <button type="submit" class="btn btn-send">Create</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
          <ul class="inbox-nav inbox-divider">
            <li style="cursor: pointer;">
              <a (click)="getAllPost()"><i class="fa fa-bookmark-o"></i>ALL</a>
            </li>
            <li style="cursor: pointer;" class="active" *ngFor="let topic of topics">
              <a (click)="getPostOnTopic(topic.topic_id)"><i class="fa fa-square-o"></i> {{topic.topic_name}} <span
                  class="badge badge-danger float-right mt-3">0</span></a>
            </li>
          </ul>
          <ul class="nav flex-column labels-info ">
            <li class="nav-item">
              <h4 class="mt-2">Buddy online</h4>
            </li>
            <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-success"></i> Jhone Doe <p>
                  I do not think</p></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-danger"></i> Sumon <p>Busy
                  with coding</p></a> </li>
            <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-muted "></i> Anjelina Joli
                <p>I out of control</p></a>
            <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-muted "></i> Jonathan Smith
                <p>I am not here</p></a>
            <li class="nav-item"> <a href="#" class="nav-link"> <i class=" fa fa-circle text-muted "></i> Tawseef <p>I
                  do not think</p></a>
            </li>
          </ul>

          <div class="inbox-body text-center">
            <div class="btn-group">
              <a href="javascript:;" class="btn mini btn-primary">
                <i class="fa fa-plus"></i>
              </a>
            </div>
            <div class="btn-group">
              <a href="javascript:;" class="btn mini btn-success">
                <i class="fa fa-phone"></i>
              </a>
            </div>
            <div class="btn-group">
              <a href="javascript:;" class="btn mini btn-info">
                <i class="fa fa-cog"></i>
              </a>
            </div>
          </div>
        </aside>
        <aside class="lg-side">
          <div class="inbox-head">
            <h3>All Post</h3>
            <form class="float-right position" action="#">
              <div class="input-append">
                <input type="text" placeholder="Search Post" class="sr-input">
                <button type="button" class="btn sr-btn"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </div>
          <div class="inbox-body">

            <section *ngIf="!isDetails" class="card">
              <header class="card-header">
                Post
                <span class="tools pull-right">
                  <a class="fa fa-chevron-down" href="javascript:;"></a>
                  <a class="fa fa-times" href="javascript:;"></a>
                </span>
              </header>
              <div class="card-body" *ngIf="posts?.length>0">
                <div class="timeline-messages" *ngFor="let post of posts">
                  <!-- Comment -->
                  <div class="msg-time-chat" style="cursor: pointer;" (click)="getPostDetails()">
                    <a href="#" class="message-img"><img class="avatar" src="../../assets/flat/img/chat-avatar.jpg"
                        alt="">
                      <div style="max-width: 100%" class="fa-hover col-md-3 col-sm-4"><a href="#thumbs-up"><i
                            class="fa fa-thumbs-up"></i>{{post.liked_by}}</a>
                      </div>
                    </a>
                    <div class="message-body msg-in">
                      <span class="arrow"></span>
                      <div class="text">
                        <p class="attribution"><a href="#">Jhon Doe</a> at 1:55pm, 13th April 2013,
                          <span style="float: right;background: #ddd;padding: 2px;border-radius: 3px;">Status:
                            {{post.status}}</span></p>
                        <p>{{post.post_title}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- /comment -->
                </div>
              </div>
              <div class="card-body" *ngIf="posts?.length==0">
                <h5>Please wait....</h5>
              </div>
            </section>

            <div class="inbox-body" *ngIf="isDetails">
              <div class="heading-inbox row">
                <div class="col-md-8">
                  &nbsp;
                </div>
                <div class="col-md-4 text-right">
                  <p class="date"> 8:02 PM 12 FEB 2014</p>
                </div>
                <div class="col-md-12">
                  <h4> Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Donec
                    ultrices faucibus rutrum.</h4>
                </div>
              </div>
              <div class="sender-info">
                <div class="row">
                  <div class="col-md-12">
                    <img alt="" src="../../assets/flat/img/mail-avatar.jpg">
                    <strong>Mosaddek</strong>
                    <span>[mosaddek73@gmail.com]</span>
                  </div>
                </div>
              </div>
              <div class="view-mail">
                <p>Faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at
                  sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices faucibus rutrum.
                  Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis
                  porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices faucibus rutrum. Phasellus
                  sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu
                  consequat risus. Mauris sed congue orci. </p>
                <p>Consequat risus. Mauris sed congue orci. Donec ultrices <a href="#">flatlab</a>. Phasellus sodales
                  vulputate urna, vel accumsan augue egestas ac. Donec
                  <a href="#">vitae leo at sem lobortis porttitor eu consequat risus</a>. Mauris sed congue orci. Donec
                  ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae
                  leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. </p>
                <p>Modales vulputate urna, vel <a href="#">thevectorlab.net</a>. Donec vitae leo at sem lobortis
                  porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices faucibus rutrum. Phasellus
                  sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu
                  consequat risus. Mauris sed congue orci. </p>
              </div>

              <div class="row" *ngIf="isReply">
                <form class="form-horizontal" role="form">
                  <div class="form-group row">
                    <label class="col-lg-12 control-label" style="font-weight: 400;">Comments</label>
                    <div class="col-lg-12">
                      <textarea name="" id="" class="form-control" cols="300" rows="10"></textarea>
                    </div>
                  </div>
                  <div class="form-group row pull-right">
                    <div class="col-lg-offset-2 col-lg-10 pull-right">
                      <button (click)="submitComment()" type="submit" class="btn btn-send">submit</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="compose-btn">
                <a (click)="back()" class="btn btn-sm btn-info"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                <a (click)="reply()" class="btn btn-sm btn-primary pull-right"><i class="fa fa-reply"></i>
                  Reply</a>
              </div>
            </div>


          </div>
        </aside>
      </div>
      <!--mail inbox end-->
    </section>
  </section>
  <!--main content end-->

  <!-- Right Slidebar start -->

  <!-- Right Slidebar end -->

  <!--footer start-->
  <app-footer></app-footer>
  <!--footer end-->
</section>